* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'AlexBrush';
    src: url('../font/AlexBrush-Regular.ttf');
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
}

html {
    background: #eee;
}

ul {
    list-style: none;
}

ul li {
    float: left;
}

a {
    text-decoration: none;
}

header {
    background: #52768e;
    background: linear-gradient(135deg, #563d7c, #3f5b6e, #52768e);
    background: url(../image/background.jpg) no-repeat bottom center;
    background-size: cover;
    width: 100%;
    min-height: 180px;
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
    box-shadow: 1px 1px 1px #666;
}

.clearfix:after {
    content: '';
    display: block;
    width: 100%;
    height: 0;
    clear: both;
}

.content-between {
    display: flex;
    justify-content: space-between;
}