.header-wrap {
    width: 100%;
    padding: 0px 15px;
}

.header-top {
    width: 100%;
    padding: 7px 15px;
    display: flex;
}

.header-log {
    font-family: Pacifico, cursive;
    font-size: 27px;
    height: 50px;
    line-height: 50px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
}

.header-nav {
    height: 50px;
}

.header-nav ul li {
    float: left;
    display: flex;
}

.header-nav ul li a {
    font-size: 14px;
    margin: 8px 10px;
    padding: 6px 20px;
    border-radius: 50px;
    border: 1px solid #3f5b6e;
    background: rgba(82, 118, 142, .25);
    text-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
}

.header-user {
    height: 50px;
    margin-left: auto;
    display: flex;
    float: right;
}

.header-user form input {
    color: #fff;
    font-family: inherit;
    font-size: 14px;
    margin: 8px 10px;
    padding: 6px 10px;
    border-radius: 5px;
    background: transparent;
    vertical-align: middle;
    border: 1px solid #3f5b6e;
    outline: none;
}

input::-webkit-input-placeholder {
    color: #aaa;
}

input::-moz-placeholder {
    color: #aaa;
}

input::-moz-placeholder {
    color: #aaa;
}

input::-ms-input-placeholder {
    color: #aaa;
}

.header-user a {
    font-size: 14px;
    margin: 8px 10px;
    padding: 6px 20px;
    border-radius: 50px;
    border: 1px solid #3f5b6e;
    background: rgba(82, 118, 142, .25);
    text-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
}

.header-motto {
    width: 100%;
    text-align: center;
    padding: 0px 15px;
}

.header-motto h2 {
    font-family: Pacifico, cursive;
    font-size: 22px;
    margin: 14px 15px 7px;
    line-height: 27px;
    font-weight: 500;
    text-align: center;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
    cursor: default;
}