<div class="menu-container shadow-box">
  <div class="menu-header">目录</div>
  <ul class="menu-list">
    <li>123</li>
    <li>456</li>
  </ul>
</div>
<article class="article-container shadow-box">
  <%- content %>
</article>