<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%=title%></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/reset.css" />
  <link rel="stylesheet" type="text/css" href="/css/common.css" />
  <link rel="stylesheet" type="text/css" href="/css/iconfont.css" />
</head>

<body>
  <%- include("./common/header.ejs") %>

  <main class="main-container clearfix">
    <% var page = './'+pagename+'.ejs' %>
    <%- include(page) %>
  </main>

  <%- include("./common/footer.ejs") %>
  <script src="/js/jquery.min.js"></script>
</body>

</html>