<!-- 登录页面 -->
<main class="login-container">
  <section class="login-container shadow-box">
    <div class="login-header">登录</div>
    <div class="login-main">
      <form class="login-form" action="" method="">
        <div class="form-group">
          <label class="form-label" for="email">邮箱</label>
          <input class="form-input" type="text" id="login-email" name="email" autocomplete="off">
        </div>
        <div class="form-group">
          <label class="form-label" for="password">密码</label>
          <input class="form-input" type="password" id="login-password" name="password" autocomplete="off">
        </div>
        <button type="button" class="login-button">登录</button>
        <a href="javascript:;" class="login-forget">忘记密码?</a>
      </form>
    </div>
  </section>
</main>