<!-- 注册页面 -->
<div class="login-container">
  <section class="login-container shadow-box">
    <div class="login-header">注册</div>
    <div class="login-main">
      <form class="login-form" action="" method="">
        <div class="form-group">
          <label class="form-label" for="email">邮箱(登录唯一账号)</label>
          <input class="form-input" type="text" id="register-email" name="email" autocomplete="off">
        </div>
        <div class="form-group">
          <label class="form-label" for="email">用户名</label>
          <input class="form-input" type="text" id="register-username" name="username" autocomplete="off">
        </div>
        <div class="form-group">
          <label class="form-label" for="password">密码</label>
          <input class="form-input" type="password" id="register-password" name="password" autocomplete="off">
        </div>
        <div class="form-group">
          <label class="form-label" for="password">确认密码</label>
          <input class="form-input" type="password" id="register-repassword" name="repassword" autocomplete="off">
        </div>
        <button type="button" class="login-button" id="register-button">注册</button>
        <a href="javascript:;" class="login-forget">忘记密码?</a>
      </form>
    </div>
  </section>
</div>