.menu-container {
  float: left;
  width: 270px;
  padding: 10px 0 20px;
  margin-right: 10px;
}

.menu-header {
  padding: 10px 20px;
  font-size: 18px;
  border-bottom: 1px solid #e7e7e7;
}

.menu-list {
  padding: 15px 15px 0;
  font-size: 16px;
}

.menu-list li{
  margin-bottom: 9px;
  cursor: pointer;
}

.menu-list li:last-child{
  margin-bottom: 0;
}

.content-container{
  width: 800px;
  float: left;
}

.article-container {
  padding: 20px 25px;
  margin-bottom: 20px;
}

.comment-container{
  padding: 20px;
}

.comment-list{
  margin-bottom: 20px;
}

.comment-none{
  text-align: center;
}

.comment-label{
}

.comment-input{
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  min-height: 170px;
  line-height: 1.4;
  box-sizing: border-box;
  resize: none;
}

.comment-btn{
  padding: 8px 12px;
  color: #fff;
  background: #007bff;
  border-color: #007bff;
  cursor: pointer;
  outline: none;
}