/* 公共部分 */
input {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  padding: 0 15px;
  box-sizing: border-box;
  color: #fff;
  background: transparent;
  outline: none;
  border-radius: 4px;
  border: 1px solid #3f5b6e;
  transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
}

.conrad-button {
  padding: 6px 18px;
  color: #fff;
  border: 1px solid #3f5b6e;
  border-radius: 100px;
  box-sizing: border-box;
}

/* 头部 */
.header-container {
  background: #52768e;
  background: linear-gradient(135deg, #563d7c, #3f5b6e, #52768e);
  background: url(../img/background.jpg) no-repeat bottom center;
  background-size: cover;
  width: 100%;
  height: 260px;
  margin-bottom: 20px;
  color: #fff;
  box-shadow: 0px 1px 10px #666;
}

.header-top {
  width: 100%;
  height: 60px;
  padding: 0 20px;
  background: rgba(0, 0, 0, .4);
  box-sizing: border-box;
  border-bottom: 1px solid #52768e;
  transition: all .3s cubic-bezier(0, 0, .2, 1) .15s;
}

.header-top:hover {
  background: rgba(0, 0, 0, .7);
}

.header-logo {
  float: left;
  margin-right: 42px;
  font-size: 34px;
  font-family: 'AlexBrush';
  line-height: 60px;
  color: #fff;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
  cursor: pointer;
}

.header-nav {
  display: inline-block;
}

.header-nav li {
  float: left;
  padding: 0 10px;
  box-sizing: border-box;
}

.header-nav li a {
  line-height: 60px;
  color: #fff;
  transition: color .2s;
}

.header-nav li a:hover {
  color: #00c1de;
}

.header-personal {
  float: right;
}

.header-input-container {
  line-height: 60px
}

.header-input-container input{
  width: 180px;
  transition: all .2s;
}
.header-input-container input:hover{
  border: 1px solid #00c1de;
  width: 250px;
  transition: all .2s;
}

.header-main h1 {
  font-family: 'AlexBrush';
  font-size: 40px;
  margin: 50px 0 7px;
  line-height: 27px;
  font-weight: 500;
  text-align: center;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
  cursor: default;
}

/* footer */
.footer-container {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  color: #aaa;
  background: #333;
}

.foorer-content {
  line-height: 60px;
  text-align: center;
}