/* 公共部分 */
input {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  box-sizing: border-box;
  background: inherit;
  outline: none;
  border-radius: 4px;
  border: 1px solid #000;
}

button {
  background: inherit;
  border-radius: 4px;
  border: 1px solid #000;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.shadow-box {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ellipsis-mutiple {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

/* main 主体 */
.main-container {
  margin: 40px auto;
  width: 1140px;
  min-height: 569px;
}

/* header 头部 */
.header-button {
  padding: 6px 18px;
  color: #fff;
  border: 1px solid #3f5b6e;
  border-radius: 100px;
  box-sizing: border-box;
}

.header-container {
  background: #52768e;
  background: linear-gradient(135deg, #563d7c, #3f5b6e, #52768e);
  background: url(../img/background.jpg) no-repeat bottom center;
  background-size: cover;
  background-position: 0% 90%;
  width: 100%;
  height: 260px;
  color: #fff;
  box-shadow: 0px 1px 10px #666;
}

.header-top {
  width: 100%;
  height: 60px;
  padding: 0 20px;
  background: rgba(0, 0, 0, .4);
  box-sizing: border-box;
  border-bottom: 1px solid #52768e;
  transition: all .3s cubic-bezier(0, 0, .2, 1) .15s;
}

.header-top:hover {
  background: rgba(0, 0, 0, .7);
}

.header-logo {
  float: left;
  margin-right: 42px;
  font-size: 34px;
  font-family: 'AlexBrush';
  line-height: 60px;
  color: #fff;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
  cursor: default;
}

.header-nav {
  display: inline-block;
}

.header-nav li {
  float: left;
  padding: 0 10px;
  box-sizing: border-box;
}

.header-nav li a {
  line-height: 60px;
  color: #fff;
  transition: color .2s;
}

.header-nav li a:hover {
  color: #00c1de;
}

.header-personal {
  float: right;
}

.header-input-container {
  line-height: 60px
}

.header-input {
  padding: 0 15px;
  width: 180px;
  color: #fff;
  border-color: #3f5b6e;
  transition: all .2s cubic-bezier(.645, .045, .355, 1);
}

.header-input:hover {
  border: 1px solid #00c1de;
  width: 250px;
}

.header-input:focus {
  border: 1px solid #00c1de;
  width: 250px;
}

.header-main h1 {
  font-family: 'AlexBrush';
  font-size: 40px;
  margin: 50px 0 7px;
  line-height: 27px;
  font-weight: 500;
  text-align: center;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
  cursor: default;
}

/* footer 底部 */
.footer-container {
  width: 100%;
  height: 60px;
  color: #aaa;
  background: #333;
}

.foorer-content {
  line-height: 60px;
  text-align: center;
}

/* card 卡片 */
.card-container {
  width: 100%;
}

.card-header {
  padding: 12px 20px;
  background: rgba(0, 0, 0, .03);
  border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.card-main {
  padding: 20px
}

/* login  登录 */
.login-container {
  margin: 0 auto;
  width: 500px;
}

.login-form {
  padding: 0 10px 10px;
  width: 100%;
}

.form-group {
  margin-bottom: 15px;
}

.form-group:last-child {
  margin-bottom: 12px;
}

.form-label {
  display: inline-block;
  margin-bottom: 9px;
}

.form-input {
  display: block;
  padding: 0 12px;
  width: 80%;
  border-color: #ced4da;
}

.login-button {
  padding: 8px 12px;
  margin: 15px 10px 0 0;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  cursor: pointer;
}

/* blog-list */
.article-list-container {
  float: left;
  width: 66%;
}

.article-container {
  padding: 18px 0;
  margin-bottom: 20px;
}

.article-header {
  padding: 0 25px 10px;
  border-bottom: 1px dashed #ebebeb;
}

.article-title {
  color: #303030;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 500;
  transition: all .2s;
}

.article-title:hover {
  color: #007bff;
}

.article-meta {
  margin-top: 10px;
}

.article-meta span {
  margin-right: 10px;
}

.article-description {
  padding: 15px 25px;
  border-bottom: 1px dashed #ebebeb;
  font-size: 18px;
  line-height: 1.3;
}

.article-footer {
  padding: 10px 25px 0;
}

.article-tag {
  margin-right: 10px;
  color: #6c757d;
}

.article-tag:hover {
  text-decoration: underline;
}

.article-paginate {
  text-align: center;
}

.article-paginate ul {
  display: inline-block;
}

.article-paginate ul li {
  float: left;
  margin-right: 5px;
  padding: 8px 10px;
  background-color: #f5f5f5;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.article-paginate ul li:first-child,
.article-paginate ul li:last-child {
  padding: 8px 12px;
}

.aside-container {
  float: right;
  width: 30%;
}

.user-container {
  margin-bottom: 15px;
}

.user-header {
  position: relative;
  padding: 20px;
  height: 150px;
  color: #fff;
  background-image: url(/img/background-user.jpg);
  background-size: cover;
  box-sizing: border-box;
}

.user-header p {
  font-size: 24px;
  line-height: 1.5;
}


.user-header span {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
}

.user-avator {
  position: absolute;
  top: 105px;
  left: 50%;
  margin-left: -45px;
  width: 90px;
  height: 90px;
  border: 2px solid #fff;
  border-radius: 100px;
}

.user-footer {
  padding-top: 45px;
  text-align: center;
}

.user-footer ul {
  display: inline-block;
  padding: 30px 20px 20px;
}

.user-footer ul li {
  float: left;
  padding: 0 40px;
}

.user-footer ul li a {
  color: #6c757d;
  font-size: 20px;
}

.card-container {
  margin-bottom: 15px;
  padding: 20px 15px;
  box-sizing: border-box;
}

.card-title {
  padding-bottom: 12px;
  font-size: 20px;
  font-weight: 400;
  border-bottom: 1px solid #e7e7e7;
}

.hot-article ul a {
  display: block;
  padding: 8px 0 0 0;
  color: #505050;
  transition: all .2s;
}

.hot-article ul a p {
  font-size: 14px;
  line-height: 1.5;
}

.hot-article ul a small {
  color: #6c757d;
}

.hot-article ul a:hover {
  background-color: #f8f9fa;
}