.content-wrap {
  width: 100%;
  min-height: 100%;
  margin-bottom: -60px;
}

.content-wrap:after {
  content: '';
  height: 60px;
  display: block;
}

.login-and-register {
  width: 730px;
  margin: 0 auto;
  color: #212529;
  border-radius: 5px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.card-header {
  cursor: default;
  padding: 10px 17px;
  background-color: rgba(0, 0, 0, .03);
  border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.card-body {
  padding: 10px 17px;
  background: #fff;
}

.card-form {
  width: 50%;
  padding: 10px;
  margin: 0;
}

.form-group {
  width: 100%;
  margin-bottom: 20px;
}

.control-label {
  cursor: default;
  display: inline-block;
  margin-bottom: 5px;
}

.control-input {
  width: 100%;
  background: #fff;
  display: block;
  color: #495057;
  border: 1px solid #ced4da;
}

.control-input:focus {
  border-color: #80bdff;
  transition: box-shadow .15s ease-in-out;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, .25);
}

.form-check {
  position: relative;
  padding-left: 15px;
  margin-bottom: 20px;
}

.control-label-check {
  margin-bottom: 0;
}

.control-input-check {
  position: absolute;
  left: 0;
  top: 4px;
}

.form-btn {
  padding: 7px 13px;
  border-radius: 3px;
  color: #fff;
  text-align: center;
  background: #007bff;
  border: none;
  cursor: none;
  cursor: pointer;
}

.form-btn:hover {
  background: #0069d9;
}

.form-btn:focus {
  box-shadow: 0 0 0 3px rgba(0, 123, 255, .5);
}

.form-forget {
  padding: 7px 13px;
}

.card-body a {
  color: #007bff;
}

.card-body a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.pull-right {
  padding: 10px 13px 30px;
  float: right;
}