<header class="header-container clearfix">
  <div class="header-top clearfix">
    <a href="javascript:;" class="header-logo">Conrad</a>
    <ul class="header-nav">
      <li><a href="javascript:;" class="header-button">主站</a></li>
      <li><a href="/" class="header-button">博客</a></li>
      <li><a href="/about" class="header-button">关于我</a></li>
    </ul>
    <div class="header-personal header-nav">
      <li>
        <div class="header-input-container">
          <input type="text" placeholder="搜索文章" class="header-input">
        </div>
      </li>
      <li><a href="/login" class="header-button">登录</a></li>
      <li><a href="/register" class="header-button">注册</a></li>
    </div>
  </div>
  <div class="header-main">
    <h1>just going go</h1>
  </div>
</header>