<header class="header-container clearfix">
  <div class="header-top clearfix">
    <a href="javascript:;" class="header-logo">Conrad</a>
    <ul class="header-nav">
      <li><a href="javascript:;" class="conrad-button">主页</a></li>
      <li><a href="javascript:;" class="conrad-button">博客</a></li>
      <li><a href="javascript:;" class="conrad-button">关于我</a></li>
    </ul>
    <div class="header-personal header-nav">
      <li>
        <div class="header-input-container">
          <input type="text" placeholder="搜索文章">
        </div>
      </li>
      <li><a href="javascript:;" class="conrad-button">登录</a></li>
      <li><a href="javascript:;" class="conrad-button">注册</a></li>
    </div>
  </div>
  <div class="header-main">
    <h1>just going go</h1>
  </div>
</header>